.myProjectCard {
  background-color: #cae4e3;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
}

.myImage {
  width: 150px;
  height: 150px;
}
