<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <!-- <div>
          {{ form.user.label_tag }} {{ form.user }}
        </div>
        <div>
          {{ form.password.label_tag }} {{ form.password }}
        </div> -->
        {{ form.as_p }}
        <input type="submit" value="submit">
        <!-- <button type="submit">Iniciar sesión</button> -->
      </form>
</body>
</html>